{%- import "utils.html.jinja" as utils -%}

{% macro print(ds) -%}
    {{
        utils.print_dataset_table("Document", ds, [
            ("Title", ds.details.title), 
            ("Subject", ds.details.subject), 
            ("Author", ds.details.author), 
            ("Toolchain", ds.details.toolchain), 
            ("Keywords", ds.details.keywords), 
            ("Number of pages", ds.details.numPages), 
            ("Number of images", ds.details.numImages), 
        ])
    }}
{% endmacro %}
