<style>
    @page {
        size: a4 portrait;
        @frame content {
            left: 50px;
            right: 50px;
            top: 50px;
            bottom: 50px;
            {# -pdf-frame-border: 1;  /* for debugging the layout */ #}
        }
    }

    h1, h2, h3, h4 {
        -pdf-keep-with-next: 1;
    }

    table {
        margin-bottom: 10px;
    }
    table th {
        text-align: left;
        width: 200px;
    }
    table td.key {
        font-weight: bold;
        width: 200px; 
    }

    img.batch1 {
        width: 700px;
    }
    img.batch2 {
        width: 350px;
    }
    img.batch3 {
        width: 230px;
    }
    img.batch5 {
        width: 140px;
    }
    img.batch6 {
        width: 110px;
    }
</style>    
