# Env file for edb service. Alternatively environment variables can be used (e.g. in Docker Compose).
# Copy this file to .env

WORKING_DIR=work
HOST=
DB_URL=postgresql://user:pass@localhost:5432/edps
