# Env file for Docker Compose.
# Copy this file to .env

# Use this version of Docker image "beebucket/edps".
EDPS_VERSION=latest

# Hostname for external access: This is used for Traefik routing and certificate creation.
# For testing you may use localhost, but to get a valid HTTPS certificate you need a fully qualified domain name.
TRAEFIK_HOSTNAME=localhost
# TRAEFIK_HOSTNAME=xxx.example.com
# eMail used for HTTPS certificate creation.
TRAEFIK_CERT_EMAIL=

# DB name and credentials used for creating the Postgres container.
# TODO: When deploying on a public server you must change DB_PASSWORD to a secure password!!!
DB_NAME=edps
DB_USER=edps_backend_user
DB_PASSWORD=pw!842#kfsa56dk76
