# Env file for Docker Compose.
# Copy this file to .env

# Use this version of Docker image "beebucket/mds_mapper".
MDS_MAPPER_VERSION=latest

# Hostname for external access: This is used for Traefik routing and certificate creation.
# For testing you may use localhost, but to get a valid HTTPS certificate you need a fully qualified domain name.
TRAEFIK_HOSTNAME=localhost
# TRAEFIK_HOSTNAME=xxx.example.com
# eMail used for HTTPS certificate creation.
TRAEFIK_CERT_EMAIL=

# DB name and credentials used for creating the Postgres container.
# TODO: You must change DB_PASSWORD to a secure password!!!
DB_NAME=mds_mapper
DB_USER=mds_mapper_backend_user
DB_PASSWORD=<SET_YOUR_OWN_PASSWORD>
